@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#92f8ff),
    to(#ffc1c1)
  );
  background: linear-gradient(to bottom right, #92f8ff, #ffc1c1);
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.app {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.head {
  width: 100%;
  margin: auto;
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5em;
}

.head .logo {
  width: 48px;
  height: 48px;
  border-radius: 0.2rem;
  background: transparent;
}
.head .logo img {
  width: 100%;
  height: 100%;
}
.head .brand {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 0.8rem;
}

.leave-type {
  padding: 0.8rem 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  width: 85%;
  max-width: 450px;
  margin: 0 auto 0.8rem;
}
.leave-type p {
  font-weight: bold;
  margin: 0;
}
form {
  width: 100%;
  margin: 0 auto 0.8rem;
  box-sizing: border-box;
}
.inp,
label {
  position: relative;
  width: 85%;
  max-width: 450px;
  display: flex;
  margin: 0 auto 0.8rem;
  border-radius: 5px;
  align-items: center;

  border: 1px solid #000;
  padding: 0.8rem;
}
input {
  text-align: center;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-family: "Nunito Sans", sans-serif;
  background: transparent;
  border-radius: 5px;
  font-weight: bold;
}
.inp input[type="date"] {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.8rem;
}

.btn {
  padding: 0.5rem;
  outline: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.8rem;
}
.check {
  font-size: 1.65rem;
  text-align: center;
}
button.checking {
  -webkit-animation: rotate 0.5s ease-in-out infinite;
  animation: rotate 0.5s ease-in-out infinite;
}

.result-panel {
  border: 1px solid #000;
  border-radius: 0.3rem;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 450px;
  transition: 0.6s;
}
.result-panel span.subhead {
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
  margin-bottom: 2rem;
  color: #525252;
}
.result-panel span.subhead span {
  font-weight: bold;
  color: #000;
}
.result-panel p {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  transition: 0.6s;
}
.result-panel p.day-date {
  font-size: 1.6rem;
  font-weight: bold;
}

.foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  position: relative;
}
.foo .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.foo p {
  font-size: 0.8rem;
  font-weight: bold;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
